<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="logfileSkia" xsi:type="File" fileName="Logs/Skia.log" layout="${message}" />
    <target name="logfileGL" xsi:type="File" fileName="Logs/GL.log" layout="${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="logfileSkia" />
    <logger name="*" minlevel="Info" maxlevel="Info" writeTo="logfileGL" />
  </rules>
</nlog>